@import url("https://fonts.googleapis.com/css?family=Gugi");

* {
  font-family: "Gugi", cursive;
}

body {
  color: rgb(227, 224, 224);
  background-color: rgba(21, 20, 20, 0.968) !important;
}

.searchBar {
  background-color: rgb(227, 224, 224);
}

.playerShowcase {
  color: "#266ee2";
}

.landing {
  margin: 15%;
}

.mainCard {
  margin-top: 2% !important;
  color: black;
}

#test {
  width: 100% !important;
  margin: 0% 2% 0% 0% !important;
}
.victory {
  width: 80% !important;
}
.victory2 {
  width: 60% !important;
}
